<div>
    <h2>Subordinados</h2>
    @if (empleados){
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>Id empleado</th>
                    <th>Apellido</th>
                    <th>Oficio</th>
                    <th>Salario</th>
                </tr>
            </thead>
            <tbody>
                @for (emp of empleados; track emp){
                    <tr>
                        <td>{{emp.idEmpleado}}</td>
                        <td>{{emp.apellido}}</td>
                        <td>{{emp.oficio}}</td>
                        <td>{{emp.salario}}</td>
                    </tr>
                }
            </tbody>
        </table>         
    }
</div>